:root {
  /* Cores */
  --primary-color: #986dff;
  --secondary-color: #111;
  --scrollbar-color: #986dff;
  --scrollbar-background: #111;
  --border-color: #101013;
  --text-color: #9ca3af;
  --header-padding: 0 50px;
  --font-size-large: 2rem;
  --border-radius: 0.5rem;

  /* Tamanhos em múltiplos de 8 */
  --size-8: 0.5rem;  /* 8px */
  --size-16: 1rem;   /* 16px */
  --size-24: 1.5rem; /* 24px */
  --size-32: 2rem;   /* 32px */
  --size-40: 2.5rem; /* 40px */
  --size-48: 3rem;   /* 48px */
  --size-64: 4rem;   /* 64px */
  --size-80: 5rem;   /* 80px */
  --size-96: 6rem;   /* 96px */
  --size-128: 8rem;  /* 128px */
}

::-webkit-scrollbar {
  width: var(--size-8);
}

::-webkit-scrollbar-track {
  background-color: #111;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: var(--size-8);
}

.grid-layout {
  max-width: 1140px;
  margin: 0 auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  color: #fff;
  backdrop-filter: blur(10px);
  padding: 20px 32px;
  max-width: 300px;
  border-radius: 4px;
  transition: all 0.4s ease;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
}

/* .section-home .content #home-container-text a:hover {
  padding: 20px 45px;
  max-width: 325px;
} */


.typewriter:after {
  content: '|';
  margin-left: var(--size-8);
  opacity: 1;
  animation: blink 1s infinite;
  color: var(--primary-color);
}

@keyframes blink {
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/**********
* Carousel Example Layout
**********/
.carousel {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.carousel-track-container {
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 100%;
  display: flex;
}

.carousel-track {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.carousel-slide {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
}

.card {
  background-color: #333;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  color: #f1f1f1;
  display: flex;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content .category {
  font-size: 0.8rem;
  color: #aaaaaa;
  text-transform: uppercase;
}

.card-content h3 {
  font-size: 1.3rem;
  margin: 0.5rem 0;
  color: #f1f1f1;
}

.card-content p {
  line-height: 3.2rem;
  color: #9ca3af;
  font-size: 1.8rem;
}

.learn-more {
  font-size: 0.9rem;
  color: #d4e157;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 0.5rem;
}

.carousel-button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  transition: background 0.3s;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-button:hover {
  background-color: #666;
}

/* Remove barra de rolagem no Firefox */
.carousel-track-container::-webkit-scrollbar {
  display: none;
}